<h2>Password reset</h2>
<form [formGroup]="confirmemailForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Email</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Confirm
    </button>
    <!--<a routerLink="/confirmemail" class="btn btn-link">Register</a>-->
  </div> 
</form>
